<a href="https://colab.research.google.com/github/PolisenoRiccardo/python/blob/main/Liste.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Liste

In [ ]:
a =[]

In [ ]:
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(b)

In [ ]:
type(b)

In [ ]:
lista = [11, "pippo", 37.69, "pluto",["qui", "quo", "qua", ["Carlo III", "sony", "poggers"]], 58]
print(lista[4][3][0])

In [ ]:
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(b[9], b[-1]) # Nell'indice di una lista si possono usare solo numeri entro i suo limiti dei quantità

Slicing

In [ ]:
num = [0,1,2,3,4,5,6,7,8,9]
#print degli elementi dal 3 al 6
print(num[3:6]) 
#Visualizzazione degli ultimi sei elementi
print(num[5:]) 
#Visualizzazione dei primi sei elementi
print(num[:5])
#Visualizzazione del penultimo e terzultimo numero
print(num[-3:-1]) 
# L'ultimo :2 prende un numero ogni 2
print(num[2:9:2])

Built in List Functions

In [ ]:
# Built in List Functions
9 in num

In [ ]:
sy = "la mamma è nella"
lista = list(sy)
print(lista)

In [ ]:
#Append aggiunge un elemento, che sia una lista o un singolo elemento
#Extend aggiunge ogni elemento singolarmente presente di una lista
lista = [0,1,2,3,4,5,6,7,8,9]
lista.append("carlo")
print(lista)
lista.append([10,19])
print(lista)
lista.extend(["sony","marco"])
print(lista)

Carica in una lista i numeri 8, 17, -5, 4, 76, 9, 2

In [ ]:
a = [8, 17, -5, 4, 76, 9, 2 ]
#visualizzazione primo elemento
print(a[0])
#visualizzazione ultimo elemento
print(a[-1])
print(a[len(a)-1])

In [ ]:
# aggiungere 7, 8, 4, 9 alla lista
a.extend([7, 8, 4, 9 ])
print(a)
a.sort()
print(a)
carlo= 8
try:
  while True:
   a.remove(carlo)
except ValueError: # PASSA GLI ERRORI GODOPOLI
      pass
print(a)

while 4 in a: # Neri mio padre
 a.remove(4)
print(a)

a = list(filter((7).__ne__, a)) # ne = not equal, filtra tutto quello che is not equal to 7
print(a)

[-5, 2, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 9, 9, 9, 9, 9, 9, 9, 17, 76, 7, 8, 4, 9]
[-5, 2, 4, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 9, 9, 9, 9, 9, 9, 9, 9, 17, 76]
[-5, 2, 4, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 9, 9, 9, 9, 9, 9, 9, 9, 17, 76]
[-5, 2, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 9, 9, 9, 9, 9, 9, 9, 9, 17, 76]
[-5, 2, 9, 9, 9, 9, 9, 9, 9, 9, 17, 76]

In [ ]:
#  Contare il numero di volte che compare il numero 9
a.count(9)

8

In [ ]:
print(a)
# cercare l'indice del numero 8
a.index(9)

[-5, 2, 9, 9, 9, 9, 9, 9, 9, 9, 17, 76]

2

In [ ]:
# Inserire il valore 0 prima del numero 17
print(a)
a.insert(a.index(17)+1, "Carlo")
print(a) 
while "Carlo" in a: # Neri mio padre
 a.remove("Carlo")

[-5, 2, 9, 9, 9, 9, 9, 9, 9, 9, 17, 76]
[-5, 2, 9, 9, 9, 9, 9, 9, 9, 9, 17, 'Carlo', 76]

In [ ]:
a.pop()

76

In [ ]:
del a[1]
print(a)

In [ ]:
a.reverse()
print(a)

In [ ]:
b= [2,1,4,3]
c = b
print(c)
print(b)

[2, 1, 4, 3]
[2, 1, 4, 3]

In [ ]:
b.pop()
print(c)
print(b)

[2, 1, 4]
[2, 1, 4]

1. Inizializzare una lista con 8, 18, 27, -8, 51, 40, -9, -76
2. Aggiungere in fondo alla lista i valori 7, 4, 95
3. Aggiungere all'inizio della lista i valori 7, 4, 95
4. Visualizzare il numer o di elememti della lista
5. Aggiungere in quarta posizione il valore 100
6. Eliminare il terzultimo elemento della lista
7. Visualizzare il valore massimo, minimo della lista
8. Calcolare la somma degli elementi della lista
9. Calcolare la media degli elementi della lista
10. Rimuovere dalla lista il numero 7
11. Ordinare la lista in ordine decrescente
12. Eliminare dalla lista il numero più alto e il numero più basso
13. Visualizzare gli elementi di posto pari
14. Visualizzare gli elementi di posto dispari
15. Visualizzare i primi 5 elementi 
16. Visualizzare gli ultimi 5 elementi
17. Visualizzare i 5 elementi centrali
18. Rimuovere i duplicati presenti nella lista

In [ ]:
#1
g = [8, 18, 27, -8, 51, 40, -9, -76]

In [ ]:
#2
g.extend([7, 4, 95])
print(g)

[8, 18, 27, -8, 51, -9, -76, 7, 4, 95]

In [ ]:
#3
g.insert(0,7)
g.insert(1,4)
g.insert(2,95)
print(g)

[7, 4, 95, 7, 4, 95, 8, 18, 27, -8, 51, 40, -9, -76, 7, 4, 95]

In [ ]:
#4
print(len(g))

17

In [ ]:
#5
g.insert(3,100)

In [ ]:
#6
g = [8, 18, 27, -8, 51, 40, -9, -76]
del g[-3]
print(g)

[8, 18, 27, -8, 51, -9, -76]

In [ ]:
#7
g = [8, 18, 27, -8, 51, 40, -9, -76]
g.sort()
print(g[0])
print(g[-1])

-76
51

In [ ]:
#8
print(g)
print(sum(g))

[-76, -9, -8, 8, 18, 27, 40, 51]
51

In [ ]:
#9
sum(g)/len(g)

6.375

In [ ]:
#10
g.remove(7)
print(g)

[51, 40, 27, 18, 8, -8, -9, -76]

In [ ]:
#11
g.reverse()
print(g)

[51, 40, 27, 18, 8, -8, -9, -76]

In [ ]:
#12
del g[0]
del g[-1]
print(g)

[18, 27, -8, 51, 40, -9]

In [ ]:
#13
print(g[0:len(g)-1:2])

[18, -8, 40]

In [ ]:
#14
print(g[1:len(g):2])

[27, 51, -9]

In [ ]:
#15
print(g[:5])

[18, 27, -8, 51, 40]

In [ ]:
#16
print(g[-5:])

[-8, 51, 40, -9, -76]

In [ ]:
#17
print(g)
u = int(len(g)/2)
print(g[u-2:u+3])

[8, 18, 27, 100, -8, 51, 40, -9, -76]
[27, 100, -8, 51, 40]